@using Rigutins.MyTranscripts.Server.Toasts;

<CascadingValue Value="@ToastState">
    <CascadingValue Value="@SpeechRecognitionState">
        <CascadingAuthenticationState>
            <Router AppAssembly="@typeof(App).Assembly">
                <Found Context="routeData">
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                    <FocusOnNavigate RouteData="@routeData" Selector="h1" />
                </Found>
                <NotFound>
                    <PageTitle>Not found</PageTitle>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p role="alert">Sorry, there's nothing at this address.</p>
                    </LayoutView>
                </NotFound>
            </Router>
        </CascadingAuthenticationState>
    </CascadingValue>
</CascadingValue>

<NavigationLock ConfirmExternalNavigation="ConfirmExternalNavigation" />

@code {
    public ToastState ToastState { get; set; } = new();
    public SpeechRecognitionState SpeechRecognitionState { get; set; } = new();

    private bool ConfirmExternalNavigation {
        get {
            return !SpeechRecognitionState.IsRecognizing;
        }
    }
}
